// Постоянные клиенты 

.clients {
    display: flex;
    margin-top: 50px;
  }
  
  &__company + .clients__company {
    margin-left: 30px;
  }
  
  &__link {
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: rgba(175, 177, 184, 1);
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: rgba(33, 150, 243, 1);
      background-color: var(--white-color);
      border: 1px solid var(--blue-color);
      border-radius: 4px;
    }

  }
  
  &__icon {
    fill: currentColor;
  }